#music_disc{
    border-radius: 80px;
    height: 90%;
    width: 90%;

}

#music_disc:hover{
    border-radius: 0;
}
#pfp{
    aspect-ratio: 1/1;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#pfp:hover{
    border-radius: 0;
}

.meretezes{
    width: 50%;
}

hr{
    border-top: 10px dotted black;
}

.kerekites{
    border-radius: 50%;
}

.image-container {
    display: inline-block;
    overflow: hidden;
}
.image-container:hover{
    background-color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        color: white;
        padding-top: 5%;
        border-radius: 10%;
        border: 2px dashed white;
}
.hover-image {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    width: 50%;
    height: auto;
}

.hover-image:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.hover-text {
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    display: inline-block;
}


.hover-text:hover {
    transform: scale(1.1);
   

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}



.jaro-nev {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 250%;
  font-style: normal;
  text-decoration: underline;
}

.fadee:hover {
    background-color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        color: white;
        width: fit-content;

}
h3{
    font-weight: 700;
    font-size: 150%;
}
h2{
    font-weight: bolder;
}
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-size: 170%;
    font-style: normal;
  }
