/*NAVBAR*/
.nav-link, nav:visited{
    color: white!important;
}
/*FOOTER*/
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

a:link, a:visited, a:active, a{
    text-decoration: none;
    color:inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #909090;
    font-size: 25px;
    font-family: /*Impact, Haettenschweiler, 'Arial Narrow Bold',*/ sans-serif;
}

h2, h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg, #greet{
    color: #fc7575;
}

p{
    margin-top: 10px;
}

.zene-link{
    border-radius: 20px;
    color: #f23d43;
    padding: 10px;
}

.zene-link:hover{
    background-color: #756e6e;
    color: #d11313;
    transform: scale(1.5);
}

#signoutbutton{
    margin: 15px 0px;
}

.nav-link{
    transition: text-shadow 0.5s ease-in-out;
}

.nav-link:hover{
    text-shadow: 0 0 40px rgba(255,255,255,0.8);
}

.open ul.dropdown-menu {
    display: block;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }

@media (max-width: 768px) {
    .reviewTextArea{
        height: 300px!important;
    }
}

@media (max-width: 992px) {
    .reviewTextArea{
        height: 131px;
    }
}

@media (min-width: 992px) {
    .reviewTextArea{
        height: 231px;
    }
}